# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Datos sensibles
*.csv
*.pkl
data/
!data/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# Mac
.DS_Store

# Logs
*.log